<div class="container box">
  <div class="show">

    <h2><%= @dog.name%> Due: <%= @litter.due_date.strftime("%B %d, %Y") %> </h2>
    <% if current_user != nil && current_user.email == "whinecountrybernedoodles@gmail.com" %>
    <div id="puppy_ajax">
      <%= link_to "Add Puppy", new_dog_litter_puppy_path(@dog, @litter), id: "new_puppy_link", remote: true %>
    </div>
    <% end %>
    <hr>
    <h2>Puppies</h2>
    <div class="col-md-6">

      <ul><u><h3>Girls</h3></u>
      <% @puppies.each do |puppy| %>
        <% if puppy.sex == "female" %>
          <li><h4><%= link_to puppy.name, dog_litter_puppy_path(@dog, @litter, puppy) %> </h4></li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class="col-md-4">

      <ul><u><h3>Boys</h3></u>
      <% @puppies.each do |puppy| %>
        <% if puppy.sex == "male" || puppy.sex == "Male"%>
          <li><h4><%= link_to puppy.name, dog_litter_puppy_path(@dog, @litter, puppy) %> </h4></li>
        <% end %>
      <% end %>
    </ul>
    </div>
  </div>
</div>
