<div class="box text-center">
  <h2><%= @dog.name%> Due: <%= @litter.due_date.strftime("%B %d, %Y") %> </h2>
  <% if current_user != nil && current_user.email == "whinecountrybernedoodles@gmail.com" %>
    <div id="puppy_ajax">
      <%= link_to "Add Puppy", new_litter_puppy_path(@litter), id: "new_puppy_link", remote: true %>
      <hr>
    </div>
  <% end %>
  <h2>Puppies</h2>
</div>
<br>
<!-- <div class="row"> -->
  <div class="row box">
    <div class="col-md-6 ">
      <ul><u><h3 class="text-center">Girls</h3></u>
        <% @puppies.each do |puppy| %>
          <% if puppy.sex == "female" %>
            <li><h4 class="text-center"><%= link_to puppy.name, litter_puppy_path(@litter, puppy) %> </h4></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6 ">
      <ul><u><h3 class="text-center">Boys</h3></u>
        <% @puppies.each do |puppy| %>
          <% if puppy.sex == "male" || puppy.sex == "Male"%>
            <li><h4 class="text-center"><%= link_to puppy.name, litter_puppy_path(@litter, puppy) %> </h4></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<!-- </div> -->
