<div class="show">
  <div class="box">

    <u><h2>Adult Dogs</h2></u>
    <% if current_user != nil &&  current_user.email == "whinecountrybernedoodles@gmail.com" %>
    <div id="dog_ajax">
      <%= link_to "Add Dog", new_dog_path, id: "new_dog_link", remote: true, :html => {class: "button btn-md"} %>
    </div>
    <% end %>
    <br>
    <br>

    <% @dogs.each do |dog| %>
    <div class="row">
        <% if dog.pictures.any? %>
          <div class="col-sm-4">
            <h3><%= link_to dog.name, dog_path(dog) %></h3>
            <%= link_to image_tag(dog.pictures[0].name(:medium)), dog_path(dog) %>
          </div>
        <% else %>
          <div class="col-sm-4">
            <h3><%= link_to dog.name, dog_path(dog) %></h3>
            <h4>Picture coming soon!</h4>
          </div>
        <% end %>
        <% if dog.litters.any? %>
          <% dog.litters.each do |litter| %>
            <center>
              <h3><%=link_to "Due Date: #{litter.due_date.strftime('%B %d, %Y')}", litter_path(litter, dog: dog)%></h3>
            </center>
            <% if litter.puppies.any? %>
            <div class="col-sm-4">
                <% litter.puppies.each do |puppy| %>
                  <% if puppy.pictures.any? %>
                    <% if puppy.sex == "male"%>
                    <%= image_tag puppy.pictures[0].name, class: "profile_picture" %>
                  <% end %>
                    <%= link_to "#{puppy.name}", litter_puppy_path(litter, puppy) %> <br>
                  <% end %>
                <% end %>
            </div>

          <div class="col-sm-4">
            <% litter.puppies.each do |puppy| %>
              <% if puppy.sex == "female"%>
                <% if puppy.pictures.any? %>
                  <%= image_tag puppy.pictures[0].name, class: "profile_picture" %>
                <% end %>
                <%= link_to "#{puppy.name}", litter_puppy_path(litter, puppy) %> <br>
              <% end %>
            <% end %>
          </div>
          <% end %>
          <% end %>
        <% else %>
          <div class="col-sm-8">

          </div>
        <% end %>

        </div>
      <hr>
    <% end %>
  </div>
</div>
