<div class="show">
  <div class="container box">

  <h2>Adult Dogs</h2>
  <% if current_user != nil &&  current_user.email == "whinecountrybernedoodles@gmail.com" %>
    <div id="dog_ajax">
    <%= link_to "Add Dog", new_dog_path, id: "new_dog_link", remote: true, :html => {class: "button btn-md"} %>
  </div>
  <% end %>
<br>

  <table class = "table table-hover">

  <% @dogs.each do |dog| %>
      <tr>

      <td><%= link_to image_tag(dog.pictures[0].name(:medium)), dog_path(dog) %></td>
      <td> <%= link_to dog.name, dog_path(dog) %> </td>
        <% dog.litters.each do |litter| %>
          <td> <%=link_to "Due Date: #{litter.due_date.strftime('%B %d, %Y')}", dog_litter_path(dog, litter)%>
          <br>
            <% litter.puppies.each do |puppy| %>
              <%= link_to "#{puppy.name}", dog_litter_puppy_path(dog, litter, puppy) %> <br>
            <% end %>
          </td>
          <% end %>

        <% end %>
      </tr>
  </table>
</div>
</div>
