<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <title>Bernedoodles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="columns tweleve">
  <a class="navbar-brand" style="color: grey;" href="/">Wine Country Bernedoodles</a>
  <a href="/" > <%= image_tag("house.png", size: "25x25") %>Gallery</a>
  <a href="/" > <%= image_tag("house.png", size: "25x25") %></a>
</div>
  <%= flash[:alert] %>
  <%= flash[:notice] %>
  <%= yield %>

</body>
</html>
