<div id="homepage-title">Whine Country Bernedoodles</div>


<div class="box">
  <div class="breed-description">
    <u>Bernedoodles</u>
    <div class="fb-like" data-href="https://bernedoodles.herokuapp.com/" data-width="20px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>    <p>
      Looking for a family dog? Bernedoodles are a mix between a Bernese Mountain Dog and a Standard Poodle. They are fun, athletic, entertaining, loyal, friendly, and great with children. They range from 55 pounds to 85 pounds.
      In addition to being lovable they have minimal to no shedding! Puppies are sold as pets only.
    </p>
  </div>
</div>
  <br>


  <div class="owl-carousel" id = "carousel-home">
    <% @pictures.each do |picture| %>
      <div class="item"><%= image_tag picture.name.url(:medium) %> </div>
    <% end %>
  </div>
</div>

<div class="text-center">
  <div class="col-sm-4">
    <div class="box">
      <h2> <%= link_to "Up Coming Litters", litters_path %></h2>
      <h2> <%= link_to "Waiting List", lists_path %></h2>
        <% if current_user != nil &&  current_user.email == "whinecountrybernedoodles@gmail.com" %>
          <%= link_to "Add Name", new_list_path, :html => {class: "button btn-md"} %>
        <% end %>
      <ol id = "waiting-list">
        <% @Lists.each do |list| %>
          <li> <%= link_to list.name, list_path(list) %> </li>
        <% end %>
      </ol>
    </div>

  </div>

  <div class="col-sm-4">
    <div class="box">
    <h2> <%= link_to "Gallery", pictures_path %></h2>
    <p>
      See pictures of past litters and parent dogs.
    </p>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="box">
      <h2> <%= link_to "More Informaiton", info_path %> </h2>
      <p>
        Learn about the breed, cost of a puppy, and contract.
      </p>
    </div>
  </div>

</div>
