<div class="box">
  <div class="show">
    <h2><%= @puppy.name %></h2>
    <h4>Date Of Birth: <%= @puppy.date_of_birth.strftime("%B %d, %Y") %></h4>
    <h4>Gender: <%= @puppy.sex %></h4>
    <h4><%= link_to "Back to puppies", litter_path(@litter)%></h4>
    <h4><%= link_to "Back", :back %></h4>
    <% if current_user != nil && current_user.email == "whinecountrybernedoodles@gmail.com" %>
      <div id="picture_ajax" class = "text-center">
        <%= link_to "Add Picture", new_picture_path(puppy: @puppy), class: "button", id: "add_picture_link", remote: true %><br>
      </div>
        <%= link_to "Edit Puppy", edit_litter_puppy_path(@litter, @puppy), class: "button"%> <br>
        <%= link_to "Delete", litter_puppy_path(@litter, @puppy),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} , class: "button" %>
    <% end %>
  </div>
</div>
<div class="row text-center">
  <% @puppy.pictures.each do |picture| %>
    <div class="col-xs-12 col-sm-4">
      <%= image_tag picture.name(:medium) %>
      <% if current_user != nil && current_user.email == "whinecountrybernedoodles@gmail.com" %>
        <%= link_to "Delete", picture_path(picture),
                           :data => {:confirm => "You sure?",
                                     :method => "delete"} , class: "button" %>
      <% end %>
    </div>
  <% end %>
</div>
