
<div class="container">
  <div class="breed-description">
    <h5>Bernedoodles</h5>
    <p>
      Looking for a family dog? Bernedoodles are a mix between a  Bernese Mountain Dog and a Poodle. They are fun, athletic, entertaining, loyal, friendly, and great with children. They range from 50 pounds to 110 pounds.
      In addition to being lovable they don't shed!

    </p>
  </div>
  <br>
  <div class="owl-carousel" id = "carousel-home">
    <div class="item"><%= image_tag "1.jpg" %> </div>
    <div class="item"><%= image_tag "2.jpg" %> </div>
    <div class="item"><%= image_tag "3.jpg" %> </div>
    <div class="item"><%= image_tag "4.jpg" %> </div>
    <div class="item"><%= image_tag "5.jpg" %> </div>
    <div class="item"><%= image_tag "6.jpg" %> </div>
    <div class="item"><%= image_tag "7.jpg" %> </div>
  </div>
</div>
