
<div class="container">
  <div class="breed-description">
    <h5>Bernedoodles</h5>
    <p>
      Looking for a family dog? Bernedoodles are a mix between a  Bernese Mountain Dog and a Poodle. They are fun, athletic, entertaining, loyal, friendly, and great with children. They range from 50 pounds to 110 pounds.
      In addition to being lovable they don't shed!

    </p>
  </div>
  <br>
  <div id="owl-example" class="owl-carousel">
    <div><%= image_tag "1.jpg", size: "200x200" %> </div>
    <div><%= image_tag "2.jpg", size: "200x200" %> </div>
    <div><%= image_tag "3.jpg", size: "200x200" %> </div>
    <div><%= image_tag "4.jpg", size: "200x200" %> </div>
    <div><%= image_tag "5.jpg", size: "200x200" %> </div>
    <div><%= image_tag "6.jpg", size: "200x200" %> </div>
    <div><%= image_tag "7.jpg", size: "200x200" %> </div>
  </div>
  <!-- <script type="text/javascript">
    $(document).ready(function() {
      $("#owl-example").owlCarousel();
        items : 3,
        // Navigation
        navigation : false,
        navigationText : ["prev","next"],
        rewindNav : true,
        scrollPerPage : false,
         // CSS Styles
        baseClass : "owl-carousel",
        theme : "owl-theme"

    });
  </script> -->
</div>
