<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <title>Bernedoodles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>


  <nav class="navbar navbar-inverse">

    <div class="navbar-header">
      <a class="navbar-brand" href="/"> Whine Country Bernedoodles</a>
    </div>

    <ul class="nav navbar-nav">
      <li><%= link_to "Dogs", dogs_path %></li>
      <li><%= link_to "Info", info_path %></li>
      <li><%= link_to "Gallery", pictures_path %></li>

      <% if user_signed_in? %>
      <li><%= link_to "#{current_user.email}", user_path(current_user) %></li>
      <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
      <% else %>
      <li><%= link_to "login", new_user_session_path %></li>
      <li><%= link_to "signup", new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>


  <div id="footer">
      <p>
        whinecountrybernedoodles@gmail.com |

        503-550-1920
      </p>
  </div>
</body>
</html>
